div.header{
  display:flex;
  background-color:#faf7f7;
  color:#a86f03;
}
div.IYE{
  width: 50%;
  paddingt-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  border-left-style:solid;
  border-left-width: thin;
}
div.sustainED{
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 1em;
}
#SDGcolors{
  float: left;
  margin-left: 20px;
  padding-top: 1.5em;
  width: 50px;
  height: 50px;
}
div.intro{
  padding-right: 4em;
  padding-left: 4em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
 .changeImage{
  border-radius:80px;
  width:400px;
}
p{
  font-size: 22px;
  color:#446366;
}
div.action{
  padding-right: 4em;
  padding-left: 4em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.SDG123{
  width:400px;
  border-radius:80px;
  transition: opacity 0.3s;
}
.SDG123:hover {
  opacity: 70%;
}
.SDG456{
  width:400px;
  border-radius:80px;
  transition: opacity 0.3s;
}
.SDG456:hover {
  opacity: 70%;
}
div.explore{
  padding-right: 4em;
  padding-left: 4em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.aboutImage{
  padding-right: 4em;
  padding-left: 4em;
  padding-top:1em;
  padding-bottom:4em;
  width: 900px;
}
.whoText{
  padding-right: 4em;
  padding-left: 8em;
  padding-top:8em;
  padding-bottom:4em;
  color:#446366;
}
.visionText{
  padding-right: 2em;
  padding-left: 12em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.sdg4{
  padding-left: 4em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.sdg8{
  padding-left: 2em;
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.sdg10{
  padding-top:4em;
  padding-bottom:4em;
  color:#446366;
}
.sdg17{
  padding-top:4em;
  padding-bottom:4em;
  padding-right:4em;
  color:#446366;
}
.h1{
    color:#446366;
}
.solidarityImage{
  padding-right: 4em;
}
.list{
  color:#446366;
}
.sustainEDtext{
  padding-right:4em;
  padding-left:4em;
  padding-bottom: 6em;
}
.newsletter-form{
  padding-right:4em;
  padding-left:4em;
}
hr.dashed{
   border-top: 3px dashed #bbb;
}
